.card {
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.card-body {
  height: 200px;
  padding: 0;
  overflow: scroll;
}

.status {
  font-size: 20px;
  cursor: pointer;
}

.incomplete {
  opacity: 0.4;
}

.complete {
  color: green;
}

.edit-goal {
  position: absolute;
  font-size: 24px;
  color: #0066cc;
  top: 8px;
  right: 15px;
  padding: 0;
}
