<div class="card border-dark">
  <h5 class="card-header">
    {{month + ' ' + year}}
    <a [routerLink]="getRoute()" class="edit-goal"><i class="far fa-edit"></i></a>
  </h5>
  <div class="card-body">
    <div class="placeholder" *ngIf="currMonthGoals && currMonthGoals.length < 1">
      Click <i class="far fa-edit mx-1"></i> to get started
    </div>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let goal of currMonthGoals; index as i">
        {{ goal.title }}
        <span *ngIf="!goal.completed" (click)="toggleComplete(goal, i)"><i class="far fa-circle status incomplete"></i></span>
        <span *ngIf="goal.completed" (click)="toggleComplete(goal, i)"><i class="fas fa-check-circle status complete"></i></span>
      </li>
    </ul>
  </div>
</div>
