<div class="card border-dark">
  <h5 class="card-header">
    {{month + ' ' + year}}
    <a [routerLink]="getRoute()" class="edit-goal"><i class="far fa-edit"></i></a>
  </h5>
  <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let goal of currMonthGoals">
          {{ goal.title }} {{goal.completed}}
          <i *ngIf="!goal.completed" class="far fa-circle status incomplete"></i>
          <i *ngIf="goal.completed" class="fas fa-check-circle status complete"></i>
          <!-- <span class="badge badge-success badge-pill" *ngIf="goal.completed"><p class="checkmark">&#x2713;</p></span> -->
        </li>
      </ul>
  </div>
</div>
