/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F2F8FA;
}

.navbar-brand {
  font-size: 1.54rem;
}

.logout {
  color: white;
  text-decoration: none;
}

.logout:hover {
  color: white;
  text-decoration: none;
}
