<div class="planner">
  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a routerLink="/planner" class="navbar-brand" href="#">Luna Victoria</a>
      <button type="button" class="btn btn-dark" (click)="logout()">Log Out</button>
    </div>
  </nav>

  <!-- Goals for the month -->
  <div class="content">
    <div class="card border-dark">
      <h5 class="card-header">
        {{ MONTHS[date.getMonth()] + ' ' + date.getFullYear() }}
        <button type="button" class="btn btn-link add-goal" data-toggle="modal" data-target="#addModalCenter">+</button>
      </h5>
      <div class="card-body">
        <div class="placeholder" *ngIf="currMonthGoals && currMonthGoals.length < 1">
          Click + to add a goal
        </div>
        <div class="list-group" *ngFor="let goal of currMonthGoals">
          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ goal.title }}</h5>
              <small>
                <button type="button" class="btn btn-link edit-goal" data-toggle="modal" data-target="#editModalCenter" (click)="setEditValues(goal)">
                  Edit
                </button>
              </small>
            </div>
            <p class="my-2">{{ goal.description }}</p>
            <small class="float-left text-success" *ngIf="goal.completed">Status: Complete</small>
            <small class="float-right">Deadline: {{ getDate(goal.deadline) }}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add new goal popup -->
<div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add New Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addGoal(goalForm)" #goalForm="ngForm">
          <div class="form-group">
            <label for="goal-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="goal-title" name="title" ngModel>
          </div>
          <div class="form-group">
            <label for="goal-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="goal-description" name="description" ngModel></textarea>
          </div>
          <div class="form-group">
            <label for="goal-deadline" class="col-form-label">Deadline:</label>
            <input type="date" class="form-control" min="2000-01-01" max="2100-01-01" id="goal-deadline" name="deadline" ngModel>
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="$('.modal').modal('hide')">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit existing goal popup -->
<div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="goal-title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="goal-title" name="title" [(ngModel)]="modalEditGoal.title">
          </div>
          <div class="form-group">
            <label for="goal-description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="goal-description" name="description" [(ngModel)]="modalEditGoal.description"></textarea>
          </div>
          <div class="form-group">
            <label for="goal-deadline" class="col-form-label">Deadline:</label>
            <input type="date" class="form-control" min="2000-01-01" max="2100-01-01" id="goal-deadline" name="deadline" [(ngModel)]="modalEditGoal.deadline">
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-danger" (click)="deleteGoal()" onclick="$('.modal').modal('hide')">Delete</button>
            <button type="button" class="btn btn-primary" (click)="patchGoal()" onclick="$('.modal').modal('hide')">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
