.homepage {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 100%;
  height: 92%;
  background-image: url('../../assets/background.jpeg');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 320px;
  border-radius: 4px;
  background-color: #F2F8FA;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.btn-login {
  width: 80px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid {
  color: red;
}

@media(max-width: 576px) {
  .btn-login {
    width: 100%;
  }
}
