<div class="planner">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a routerLink="/planner" class="navbar-brand" href="#">Luna Victoria</a>
      <a routerLink="/" class="logout">Log Out</a>
    </div>
  </nav>
  <div class="content">
    <div class="container">
      <div class="row my-3">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'January'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'February'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'March'"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'April'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'May'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'June'"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'July'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'August'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'September'"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'October'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'November'"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="'December'"></app-monthly-goals-card>
        </div>
      </div>
    </div>
  </div>
</div>
