<div class="planner">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="container">
      <div class="row my-3">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="0"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="1"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="2"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="3"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="4"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="5"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="6"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="7"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="8"></app-monthly-goals-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="9"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="10"></app-monthly-goals-card>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  p-2">
          <app-monthly-goals-card [month]="11"></app-monthly-goals-card>
        </div>
      </div>
    </div>
  </div>
</div>
